In [1]:
import pandas as pd
import numpy as np

data = pd.read_excel('/Users/maclc/Desktop/国贸冷却塔/NewDate的副本.xlsx')

In [14]:
df = pd.DataFrame(data)

In [17]:
a1=0#1代表空气温度 2代表回水温度
b1=0
c1=0
d1=0
for i in range(0, len(df)):
    if(df.iloc[i]['冷却塔高速状态']==0 and df.iloc[i]['冷却塔高速状态']==0 and df.iloc[i]['空气温度(18.987,22.25]']==1):
        a1+=1
    elif(df.iloc[i]['冷却塔高速状态']==0 and df.iloc[i]['冷却塔高速状态']==0 and df.iloc[i]['空气温度(22.25,25.5]']==1):
        b1+=1
    elif(df.iloc[i]['冷却塔高速状态']==0 and df.iloc[i]['冷却塔高速状态']==0 and df.iloc[i]['空气温度(25.5,28.75]']==1):
        c1+=1
    elif(df.iloc[i]['冷却塔高速状态']==0 and df.iloc[i]['冷却塔高速状态']==0 and df.iloc[i]['空气温度(28.75,32.0]']==1):
        d1+=1

In [18]:
print(a1)
print(b1)
print(c1)
print(d1)

0
1563
2651
1978

In [19]:
a2=0#1代表空气温度 2代表回水温度
b2=0
c2=0
d2=0
for i in range(0, len(df)):
    if(df.iloc[i]['冷却塔高速状态']==0 and df.iloc[i]['冷却塔高速状态']==0 and df.iloc[i]['回水温度(18.666,21.617]']==1):
        a2+=1
    elif(df.iloc[i]['冷却塔高速状态']==0 and df.iloc[i]['冷却塔高速状态']==0 and df.iloc[i]['回水温度(21.617,24.556]']==1):
        b2+=1
    elif(df.iloc[i]['冷却塔高速状态']==0 and df.iloc[i]['冷却塔高速状态']==0 and df.iloc[i]['回水温度(24.556,27.494]']==1):
        c2+=1
    elif(df.iloc[i]['冷却塔高速状态']==0 and df.iloc[i]['冷却塔高速状态']==0 and df.iloc[i]['回水温度(27.494,30.433]']==1):
        d2+=1
print(a2)
print(b2)
print(c2)
print(d2)

0
5222
1579
8

In [2]:
data = pd.read_excel('/Users/maclc/Desktop/冷却塔数据/CH(冷水机组)/TL8xlswhole4.xls')
data_time=data['时间']

In [3]:
k=4


data1=data[u'蒸发器出水温度'].copy()
d1 = pd.cut(data1,k,labels = ['1','2','3','4'])
pd.get_dummies(d1)

       1  2  3  4
0      0  1  0  0
1      0  1  0  0
2      0  1  0  0
3      0  1  0  0
4      0  1  0  0
5      0  1  0  0
6      0  1  0  0
7      0  1  0  0
8      0  1  0  0
9      0  1  0  0
10     0  1  0  0
11     0  1  0  0
12     0  1  0  0
13     0  1  0  0
14     0  1  0  0
15     0  1  0  0
16     0  1  0  0
17     0  1  0  0
18     0  1  0  0
19     0  1  0  0
20     0  1  0  0
21     0  1  0  0
22     0  1  0  0
23     0  1  0  0
24     0  1  0  0
25     0  1  0  0
26     0  1  0  0
27     0  1  0  0
28     0  1  0  0
29     0  1  0  0
...   .. .. .. ..
65504  0  0  0  1
65505  0  0  0  1
65506  0  0  0  1
65507  0  0  0  1
65508  0  0  0  1
65509  0  0  0  1
65510  0  0  0  1
65511  0  0  0  1
65512  0  0  0  1
65513  0  0  0  1
65514  0  0  0  1
65515  0  0  0  1
65516  0  0  0  1
65517  0  0  0  1
65518  0  0  0  1
65519  0  0  0  1
65520  0  0  0  1
65521  0  0  0  1
65522  0  0  0  1
65523  0  0  0  1
65524  0  0  0  1
65525  0  0  0  1
65526  0  0  0  1
65527  0  0  0  1
65528  0  0  0  1
65529  0  0  0  1
65530  0  0  0  1
65531  0  0  0  1
65532  0  0  0  1
65533  0  0  0  1

[65534 rows x 4 columns]

In [37]:
w = [1.0*i/k for i in range(k+1)]
w = data1.describe(percentiles = w)[4:4+k+1]
w[0] = w[0]*(1-1e-10)
d2 = pd.cut(data1, w, labels = ['(4.34,15.47)','(15.47,16.43)','(16.43,16.64)','(16.64,17.26)'])

In [5]:
min = data1.min()
max = data1.max()
c = max - min
print(min)
print(min+c/4)
print(min+2*c/4)
print(min+3*c/4)
print(min+4*c/4)
print(max)

4.34000015258789
7.570000171661367
10.800000190734846
14.030000209808321
17.2600002288818
17.2600002288818

In [6]:
data1=data[u'蒸发器出水温度'].copy()

d2 = pd.cut(data1, k, labels = ['(4.34,7.57)','(7,57,10.80)','(10.80,14.03)','(14.03,17.26)'])

In [9]:
print(pd.value_counts(d2))

(14.03,17.26)    59180
(10.80,14.03)     3721
(7,57,10.80)      1653
(4.34,7.57)        980
Name: 蒸发器出水温度, dtype: int64

In [15]:
w

0%       4.340000
25%     15.470000
50%     16.430000
75%     16.639999
100%    17.260000
Name: 蒸发器出水温度, dtype: float64

In [22]:
pd.get_dummies(d2).to_excel('/Users/maclc/Desktop/国贸冷却塔/test1.xlsx')

In [36]:
#冷凝器进水温度
k=4
data2=data[u'冷凝器进水温度'].copy()
w = [1.0*i/k for i in range(k+1)]
w = data2.describe(percentiles = w)[4:4+k+1]
w[0] = w[0]*(1-1e-10)
d3 = pd.cut(data2, w, labels = ['(19.19,21.18)','(21.18,21.92)','(21.92,22.35)','(22.35,27.54)'])

In [7]:
data2=data[u'冷凝器进水温度'].copy()#马达线圈温度W1
d3 = pd.cut(data2, k, labels = ['(19.19,21.28)','(21.28,23.36)','(23.36,25.45)','(25.45,27.54)'])

In [8]:
min = data2.min()
max = data2.max()
c = max - min
print(min)
print(min+c/4)
print(min+2*c/4)
print(min+3*c/4)
print(min+4*c/4)
print(max)

19.1900005340576
21.277500629425024
23.365000724792452
25.452500820159877
27.5400009155273
27.5400009155273

In [13]:
print(pd.value_counts(d3))

(21.28,23.36)    44751
(19.19,21.28)    16721
(23.36,25.45)     3279
(25.45,27.54)      783
Name: 冷凝器进水温度, dtype: int64

In [11]:
data3=data[u'马达线圈温度W1'].copy()#相电流A相
#冷凝器进水温度
k=4
data3=data[u'马达线圈温度W1'].copy()
w = [1.0*i/k for i in range(k+1)]
w = data3.describe(percentiles = w)[4:4+k+1]
w[0] = w[0]*(1-1e-10)
d4 = pd.cut(data3, w, labels = ['(13.73,15.55)','(15.55,16.35)','(16.35,17.19)','(17.19,30.03)'])

In [12]:
w

0%      13.730000
25%     15.550000
50%     16.350000
75%     17.190001
100%    30.030001
Name: 马达线圈温度W1, dtype: float64

In [32]:
d5 = pd.cut(data4, k, labels = ['(0,121)','(121,242)','(242,363)','(363,484)'])

In [31]:
min = data4.min()
max = data4.max()
c = max - min
print(min)
print(min+c/4)
print(min+2*c/4)
print(min+3*c/4)
print(min+4*c/4)
print(max)

0
121.0
242.0
363.0
484.0
484

In [33]:
print(pd.value_counts(d5))

(0,121)      64625
(363,484)      673
(242,363)      219
(121,242)       17
Name: 相电流A相, dtype: int64

In [38]:
#D=pd.DataFrame(data_time).join(pd.DataFrame(d2)).join(pd.DataFrame(d3))
D=pd.DataFrame(d2).join(pd.DataFrame(d3))
D=D.join(pd.DataFrame(d4))
D=D.join(pd.DataFrame(d5))

In [39]:
pd.get_dummies(D).to_excel('/Users/maclc/Desktop/国贸冷却塔/test1.xlsx')